<h1>Pages#home</h1>
<p> This is an API</p>
<p>Please log in or just use the api</p>
<ul>

  <li>Version 1 of the API</li>
    <a href="https://api-season-prod.herokuapp.com/api/v1/products" target="_blank">Go to the api</a>
  <li>Version 2 of the API</li>
    <ul>
      <li>Per product All</li>

        <a href="https://api-season-prod.herokuapp.com/api/v2/products" target="_blank">Fetch all products</a>
      <li>Per product within its id</li>

        <a href="https://api-season-prod.herokuapp.com/api/v2/products/2" target="_blank">Fetch a specific product</a>
      <li>Per month</li>
        <a href="https://api-season-prod.herokuapp.com/api/v2/months/April" target="_blank">Fetch per month</a>
        <p>Instead of April, just put the desired month without the quotes</p>
    </ul>
</ul>
